<footer>
    <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4 >Home</h4>
                        <ul><li><a href="#">Landingpage</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Referral Program</a></li>
                        <li><a href="#">UI & UX Design</a></li>
                        <li><a href="#">Web Design</a></li></ul>
                    </div>
                    <div class="footer-col">
                        <h4 >Menu</h4>
                        <ul ><li><a href="#">Landingpage</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Referral Program</a></li>
                        <li><a href="#">UI & UX Design</a></li>
                        <li><a href="#">Web Design</a></li></ul>
                    </div>
                    <div class="footer-col">
                        <h4 >Company</h4>
                        <ul><li><a href="#">Landingpage</a></li>
                       <li><a href="#">Documentation</a></li>
                        <li><a href="#">Referral Program</a></li>
                        <li><a href="#">UI & UX Design</a></li>
                        <li><a href="#">Web Design</a></li></ul>
                    </ul>
          
                    </div>
                </div>
    
    
    
            </div>
           
        </footer>
            

    </div>
</footer>