<header>
    <div class="header">  
        <img  class="header__logo" src="/static/img/ikonlogo.png" alt="">
        <ul class="header__link">
           <div class="circle"> <li class="header__link_item"><a href="/">Home</a></li></div>
            <div class="circle"><li class="header__link_item"><a href="/about">About</a></li></div>
        </ul>
         </div>
</header>